* {
  -webkit-animation-direction: alternate-reverse;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: rockin;
  -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes rockin {
  from {
    -webkit-transform: rotate(0.3deg);
  }
  to {
    -webkit-transform: rotate(-0.3deg);
  }
}
